/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 1.8rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  #about{
    padding-top: 7rem;
  }

  .about .about-text{
    width: 30rem;
  }

  .about.d-flex-row{
    gap: 10rem;
  }

  .diferentials{
    justify-content: space-around;
  }

  footer.d-flex-column{
    flex-direction: row;
    align-items: center
  }
}
